{{- define "data_source_docs" }}
{{- template "DataSourceDocsHeader" . }}
{{- template "DataSourceDocsExample" . }}
{{- template "DataSourceDocsArgRef" .results }}
{{- template "DataSourceDocsAttrRef" .results }}
{{- end }}