{{ define "DATASOURCEEXAMPLE" }}
## Example Usage

WIP
{{- /* ```hcl
data "fortios_firewall_address" sample1 {
  name = "google-play"
}

output output1 {
  value = join(": ", [data.fortios_firewall_address.sample1.type, data.fortios_firewall_address.sample1.fqdn])
}
``` */}}
{{- end }}