{{define "GETOBJECT" }}
{{- range $key, $value := .children }}
	if v, ok := d.GetOk({{(flatten $value.name) | printf "%q" }}); ok {

		t, err := expand{{.fpath}}(d, v, {{(flatten $value.name) | printf "%q" }}, sv)
		if err != nil {
			return &obj, err
		} else if t != nil {
			obj[{{$value.name | printf "%q" }}] = t
		}
	}
{{- end}}
{{end}}