{{ define "RESOURCEEXAMPLE" }}
{{- $path := (flatten .path) }}
{{- $name := (flatten .name) }}
{{- $full_name := (printf "%s_%s" $path $name) }}
{{- if .child_path }}{{ $child_name := (flatten .child_path) }}{{ $full_name = (printf "%s_%s" $full_name $child_name) }}{{ end }}
## Example Usage

```hcl
{{ (readExample $full_name "r") }}
```
{{- end }}