{{- define "data_source_docs" }}
{{- template "DATASOURCEDOCSHEADER" . }}
{{- template "DATASOURCEEXAMPLE" . }}
{{- template "DATASOURCEARGREF" .results }}
{{- template "DATASOURCEATTRREF" .results }}
{{- end }}