{{- define "resource_docs" }}
{{- template "RESOURCEDOCSHEADER" . }}
{{- template "RESOURCEEXAMPLE" . }}
{{- template "RESOURCEARGREF" .results }}
{{- template "RESOURCEATTRREF" .results }}
{{- end }}